@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif;
}

body {
    overflow-x: hidden;
  background: #141414;
  font-family: 'Poppins', sans-serif;

}

html{
    scroll-behavior: smooth;
}

.hero{
   display: flex; 
   justify-content: center;
   align-items: center;
   width: 1054px;
   height: 90vh;
   text-align: left;
   color: #FFFFFF;
   background:#141414;
   margin-bottom: 9vh;
}

.hero .hero1{
    width: 520px;
}

.hero .hero1 .horizontal{
    display: flex;
    gap: 10px;
    margin-top: 22px;
}

.hero .hero1 h1{
    font-size: 50px;
}

.hero .hero1 p{
    margin-top: 60px;
    font-size: 17px;
}

.hero h1 span{
    color: #FF5555;
}

.hero .hero2{
    width: 520px;
    justify-content: center;
}

.hero .hero2 img{
    height: 500px;
    width: 500px;
    margin-top: -130px;
   filter: drop-shadow( 5px 5px #ffffffb4);
}


.middlepos
{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.navbar{
    z-index: 100;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1054px;
    height: 12vh;
    color: #272727;
    background: #272727;
    border-radius:30px;
}

.navbar .heading{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbar .heading img{
    height: 10vh;
    cursor: pointer;
}
.navbar .heading p {
    margin: 0;
    color: #FF5555;
    font-size: 4.1vh;
}



.navbar .content{
    display: flex;
    gap:30px;
    cursor: pointer;
    color: #FFFFFF;
    margin-right: 30px;
    text-transform: uppercase;
}

.navbar .content a{
    position: relative;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.navbar .content a:hover{
    color: #FF5555;
}

.navbar .content a::after{
    content: '';
    height: 2px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    display: block;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

.navbar .content a:focus::after,
.navbar .content a:hover::after{
    opacity: 1;
}

.adjust{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thanks{
    margin-inline: 80px;
    height: 280px;
    width: 1055px;
    background-color: #272727;
    color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thanks h1{
    color: #FF5555;
}




.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 19vh;
    margin-top: 3vh;
}

.introduction .backdrop .backseat {
    background-color: #FFFFFF;
    height:610px;
    width: 440px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
    margin-top: 20px;
}

.introduction .backdrop .backseat .image img{
    height:220px;
    width: 230px;
    border-radius: 30px;
    margin-block: 20px;
    background-color: #b6b0b0; 
    margin-inline: 20px; 

}
.introduction .backdrop .myself{
    margin-top: 25px;
    margin-inline: 40px;
   font-size: 17px;
   color: #FFFFFF;
}

.introduction .backdrop .myself h1{
    margin-bottom: 30px;
    color: #FF5555;
}

.introduction .backdrop .myself ul{
    margin-left: 15px;
}

.introduction .backdrop{
   display: flex;
    height: 650px;
    width: 1054px;
    background-color: #272727;
    border-radius: 30px;
    
    
}

  

.introduction .backdrop .personalisation{
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 7px;
    margin-left: 20px;
}

.introduction .backdrop .backseat .personalisation .circle{
    background-color: #FF5555;
}
.introduction .backdrop .backseat .personalisation .circle:hover{
    background-color: #272727;
}
.introduction .backdrop .backseat .personalisation .featureicon{
    color: #FFFFFF;
}
 
.skills{
    color: #FFFFFF;
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 335px 335px 335px;
    justify-content: center;
    align-items: center;
    text-align: center;
   gap: 20px;
    margin-bottom:28vh;
}



.features{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features:hover .icon {
    color: #FFFFFF;
}


.features:hover h3{
    color: #141414; 
}


.icon{
    color:#FF5555;
    font-size: 3.8em;
    margin-top: 79px;
    margin-bottom: 15px;
    transition: 0.25s;
}

.icon:hover{
    color:#FFFFFF;
}

.square{
    height: 250px;
    width: 335px;
    background-color:#272727;
    transition: 0.3s;
    border-radius: 30px;
   cursor: pointer;
    
}

.square:hover{
    background-color: #FF5555;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ProjectWork, .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FAF4D3;
    text-align: center;
}

.heading p{
    margin-bottom: 5vh;
}
#ProjectWork h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAF4D3;
}

#ProjectWork .subheading{
    margin-bottom: 7vh;
    color: #FAF4D3;
    font-size: 18px;
    opacity: 0.5;
}
.container .projects{
    display: grid;
    grid-template-rows: repeat(3,250px);
    grid-template-columns: repeat(3,257.5px);
    gap: 10px;
    width: 1045px;
    justify-content: center;
    align-items: center;
}

.container .projects .card-1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.container .projects  img{
    border-radius: 30px;
}

.container .projects .card-1 .image img{
    height: 250px;
    width:525px
}

.container .projects .card-2{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.container .projects .card-2 .image img{
    height: 510px;
    width: 520px;
    
}

.container .projects .card-5 .image img{
    width: 1055px;
    height: 250px;
}
.container .projects .card-3 {
    grid-row-start: 2;
    grid-column-start: 1;
}
.container .projects .card-4 {
    grid-row-start: 2;
    grid-column-start: 2;
}

.container .projects .card-5 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6;
}



.container .projects .card-3 .image img,
.container .projects .card-4 .image img{
    width: 257.5px;
    height: 250px;
}

.container .projects .card .image .material {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#272727cb; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s;
    color: #FAF4D3;
    border-radius: 30px;
    
}

.container .projects .card:hover .material {
    opacity: 1;
}

.container .projects .card .material p{
    font-size: 14px;
}

.container .projects .card .material p{
    margin-block: 8px;
    margin-inline: 20px;
}

.container .projects .card-5 .material p{
    margin-inline: 100px;
}

.container .projects .card-1 .material p{
    margin-inline: 50px;
}
.container .projects .card-1 .material h2{
    margin-inline: 60px;
    font-size: 20px;
}
.container{
    padding-bottom: 28vh;
}

.container .projects .card .image .material .card-button{
    height: 28px;
    width: 80px;
    background: #FF5555;
   justify-items: center;
   align-items: center;
   text-align: center;
    border-radius: 4px;
   margin-top: 10px; 
   transition: 0.5s;
}

.container .projects .card .image .material .card-button:hover{
    background: #FFFFFF;
    color: #141414;
}

.container .projects .card .image .material h2{
    text-shadow: 0.5px 0.5px 0.5px #144444;
}
.container .projects .card .image .material a {
    font-size: 15px;
    color: #FAF4D3;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100%;
   transition: 0.3s;
}


.container .projects .card >*{
    transform: translateY(25px);
    transition: transform 0.6s;
}


.container .projects .card:hover > *{
    transform: translateY(0px);
}

#contactSection {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

#contactSection::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#141414, #FF5555, #141414);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

#contactSection span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #141414;
    z-index: 2;
    transition: 1.5s;
}

#contactSection span:hover {
    background: #FF5555;
    transition: 0s;
}

.contactMe {
    position: absolute;
    background-color: #272727;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: 523px 523px;
    width: 1055px;
    height: 600px;
    margin-block: 50px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
    z-index: 100;
}

.contactRight {
    height: 560px;
    width: 460px;
    background-color: #141414;
    color: #FAF4D3;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-block: 20px;
}

.contactRight .socials {
    display: flex;
}

.contactRight .boxStyle h2{
    margin-bottom: 30px;
}

.featureicon {
    font-size: 22px;
    margin-top: 14px;
}
.heading{
    text-align: center;
}
.socials {
    align-items: center;
    text-align: center;
    gap: 12px;
    margin-bottom: 16px;
}

.socials p {
    font-size: 18px;
}

.socials .para {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.socials .para .subtext {
    font-size: 10px;
}

.circle {
    height: 47px;
    width: 47px;
    background-color: #FF5555;
    align-items: center;
    border-radius: 50%;
    transition: 1s;
    cursor: pointer;
}

.circle:hover {
    background-color: #FFFFFF;
}

.circle:hover .featureicon {
    color: #FF5555;
}

.boxStyle {
    margin-left: 40px;
    margin-top: 40px;
}

.contactLeft .content h2 {
    margin-bottom: 80px;
}

.socials a {
    color: inherit;
    text-decoration: none;
}

#contactSection .contactLeft {
    display: flex;
    margin-top: 35px;
    margin-left: 30px;
}

#contactSection .contactLeft .content h1 {
    font-size: 2.2em;
    color: #FF5555;
    margin-bottom: 40px;
    margin-top: 0;
}

input,
textarea {
    color: #141414;
    left: 0;
    outline: none;
    height: 40px;
    width: 485px;
    border-radius: 7px;
    margin-bottom: 14px;
    border: none;
    overflow: hidden;
    background-color: #e9e9e9;
    padding-left: 10px;
}

textarea {
  
    height: 143px;
    resize: none;
    padding: 7px;
}

.inputBox {
    display: flex;
    flex-direction: column;
}

.inputBox p {
    left: 0;
    color: #FAF4D3;
    margin-bottom: 3px;
}

button {
    padding: 10px;
    background: #141414;
    color: #FAF4D3;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
    position: relative;
    width: 100%;
    border: 0;
    border-radius: 7px;
    transition: 0.5s;
    margin-top: 19px;
}
.magic{
    display: flex;
    gap: 11px;
    visibility: hidden;
}
button:hover {
    background-color:#FF5555 ;
}

.headers{
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 5vh
}


@media (max-width:900px){

    .navbar{
        width:600px;
    }

    .navbar .content{
        font-size: 12px;
        gap: 8px;
    }


    .hero{
        margin-top: 10vh;
        display: flex; 
        flex-direction: column;
        height: 50vh;
        text-align: left;
        color: #FFFFFF;
        background:#141414;
        margin-bottom: 5vh;
     }

     
     .hero .hero1{
         width: 450px;
     }

     .hero .hero1 h1{
        font-size: 30px;
     }
     
     .hero .hero1 p{
        font-size: 16px;
     }

     .hero .hero1 .horizontal .socials i{
font-size: 20px;
margin-top: 10px;
     }

     .hero .hero1 .horizontal .socials .circle{
        height: 40px;
        width: 40px;
     }

     .hero .hero2{
        height: 0;
        width: 0;
     }

     .hero .hero2 img{
        visibility:hidden;
     }

    .magic{
      
        visibility: visible;
    }

   
   .skills{
    grid-template-rows:repeat(3,180px);
    grid-template-columns: 280px  280px ;
    gap: 12px;
    margin-bottom:17vh;
}

.icon{
   
    font-size: 2.5em;
    margin-top: 59px;
    margin-bottom: 7px;
    transition: 0.25s;
}

.square{
    height: 180px;
    width: 280px;
    
}

.square h3{
    font-size: 15px;
}

.circle {
    height: 70px;
    width: 70px;
}

.magic{
    gap: 42.5px;
}

.featureicon {
    font-size: 29px;
    margin-top: 19.5px;
}


.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 19vh;
}

.introduction .backdrop .backseat {
   
    height:500px;
    width: 200px;
    
}

.introduction .backdrop .backseat .image img{
    height:160px;
    width: 160px;
    border-radius: 30px;
    margin-block: 20px;
    background-color: #b6b0b0; 
    margin-inline: 20px; 

}

.introduction .backdrop .backseat .personalisation{
    font-size: 11px;
}

.introduction .backdrop .backseat .personalisation i{
    font-size: 16px;
    margin-top: 9px;
}

.introduction .backdrop .backseat .personalisation .circle{
    height: 34px;
    width: 34px;
}

.introduction .backdrop .myself h1{
    margin-bottom: 9px;
    color: #FF5555;
}

.introduction .backdrop .myself{
    font-size: 11px;
}

.introduction .backdrop .myself ul{
    margin-left: 15px;
}

.introduction .backdrop{

    height: 550px;
    width:600px;    
}
.container {
    padding-bottom: 17vh;
}
.container .projects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .container .projects .card-1 .image img,
 .container .projects .card-2 .image img,
 .container .projects .card-3 .image img,
 .container .projects .card-4 .image img,
 .container .projects .card-5 .image img{
    height: 350px;
    width: 550px;
 }

 #ProjectWork h1{
    font-size: 25px;
 }

 #contactSection span 
 {
     width: calc(10vw - 2px);
     height: calc(10vw - 2px);
 }

 .contactMe{
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 550px;
 }

 .contactRight{
   visibility: hidden;
 }

 input,textarea {
    
    height: 40px;
    width: 490px;
 }

 .heading p{
    margin-inline: 60px;
 }

}

@media (max-width:600px){

    .navbar .content{
        font-size: 10.5px;
        gap: 7px;
    }


    
    .navbar{
        width:450px;
    }


    .introduction .backdrop {
        height: 550px;
        width: 450px;
    }

    .introduction .backdrop .myself {
        margin-left: 14.5px;
    }
   
    #contactSection span 
	{
		width: calc(20vw - 2px);
		height: calc(20vw - 2px);
	}

    input,textarea {
    
    height: 40px;
    width: 390px;
    
}

.contactMe{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
 }

 .introduction .backdrop .myself{
    padding-left: 0;
 }

 .introduction .backdrop .myself{
    font-size: 10px;
 }

 .skills{
    grid-template-rows:repeat(6,150px);
    grid-template-columns: 250px  ;
    gap: 12px;
    margin-bottom:17vh;
}

.icon{
   
    font-size: 2.5em;
    margin-top: 40px;
    margin-bottom: 7px;
    transition: 0.25s;
}

.square{
    height: 150px;
    width: 250px;
    
}

.introduction .backdrop .backseat {
   
    height:500px;
    width: 300px;
    
}


.container .projects .card-1 .image img,
.container .projects .card-2 .image img,
.container .projects .card-3 .image img,
.container .projects .card-4 .image img,
.container .projects .card-5 .image img{
   height: 250px;
   width:450px;
}
}